
@import url("https://fonts.googleapis.com/css?family=Ewert%7Cdisplay=swap);

body, html {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding: 80px 120px;
}


.navbar{
  opacity: 0.7;
}




.bg {

  /* The image used */
  background-image: url('../images/main.jpg');
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  text-align: center;
  color: white;
 
  /* Full height */
  height: 100vh;
  /* Center and scale the image nicely */
}

/* "Album Out Now" style */

.bg a {
  color: #e2bf0a;
  font-weight: bold;
  font-family: sans-serif;
  font-style: italic;
}

/* Centered text */
.centered {
  position: absolute;
  font-family: 'Ewert', cursive;
  font-size: 70px;
  top: 50%;
  left: 50%;
  opacity: 0.7;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* Main Page text */

.text {
  color: white;
  font-size: 16px;
  padding: center;
}

/* Our Story Section style */

#story {
  padding-top: 100px;

}

#story h2{
  padding-bottom: 30px; 
}

#story p{
  font-size: 20px; 
}

/* underline Our Story */
#story h2:after {
  display: block;
  height: 2px;
  background-color: #ad9622;
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 20px;
}

#more {
  display: none;
  
}

/* Read more button style */
#myBtn {
  background-color: #ad9622;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Meet the Band section style */

#band{
  padding-top: 100px;
  padding-bottom: 100px;
}

#band h2{
  padding-bottom: 30px; 
}

#band .row{
  font-size: 20px; 
}

/* underline Meet the Band heading*/
#band h2:after {
  display: block;
  height: 2px;
  background-color: #ad9622;
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 20px;
}

/* shadow behind band members to make them pop out of screen */

.person {

  border-radius: 50%;
  width: 200px;
  height: 200px;
  -webkit-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
          box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  
}

/* hover style for band members */

.person:hover {
  border-color: #f1f1f1;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  opacity: 0.3;
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
          box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.container:hover .middle {
  opacity: 1;
}

/* Music section style */

#music {
  background: url('../images/band.jpg') no-repeat center center fixed;
  background-size: cover;
  height:100%;
  padding-bottom: 30px;
  padding-top: 30px;
}

/* underline Music Heading */

#music h2:after {
  display: block;
  height: 2px;
  background-color: white;
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 20px;
}

#music h2{
  color: white;
  padding-bottom: 30px;
}

/* Video section style */

#video{
  padding-top: 30px;
}

#video h2{
  padding-bottom: 30px; 
}

/* underline Videos Heading */

#video h2:after {
  display: block;
  height: 2px;
  background-color: #ad9622;
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 20px;
}

/* album section style */

#album {
  padding-top: 30px;
  padding-bottom: 30px;
}

#album h2{
  padding-bottom: 30px; 
}

/* underline Album Heading */

#album h2:after {
  display: block;
  height: 2px;
  background-color: #ad9622;
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 20px;
}

/* round the album cover edges */

.rounded{
-webkit-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/* gallery style */

#gallery {
  background-size: cover;
  background-color: black;
  padding-top: 30px;
  padding-bottom: 30px;  
}

#gallery h2{
  padding-bottom: 10px;
  padding-top: 10px;
  color:white;
}

/* underline Gallery Heading */

#gallery h2:after {
  display: block;
  height: 2px;
  background-color: #ad9622;
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 20px;
}

#gallery a {
  padding-bottom: 50px;
}

/* footer style */

footer {
  background-color: #2d2d30;
  color: #f5f5f5;
  padding: 32px;
  text-align:center;
  
}

#contact {
    
    color: #fafafa;
    background-color: #333;
    background-size: fixed;
    text-align: center;
}
